.default {
  background-color: $links;

  &:hover {
   background-color: lighten($links, 25%);   
  }
  @include btnstyle;
}

.error {
  background-color: $error;

  &:hover {
  background-color: lighten($error, 25%);
  }
  @include btnstyle;
}

.info {
  background-color: #927bc1;

  &:hover {
      background-color: lighten(#927bc1, 25%);
      }
  @include btnstyle;
}

.success {
  background-color: #63cc82;

  &:hover {
      background-color: lighten(#63cc82, 25%);
      }
      @include btnstyle;
}

.warning {
  background-color: $warning;

  &:hover {
      background-color: lighten($warning, 25%);
      }
      @include btnstyle;
}
  